################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Arch.ILS.Snowflake/FileContentIndex
/Arch.ILS.Snowflake/bin
/Arch.ILS.Snowflake/obj/Debug/net9.0
/Arch.ILS.Snowflake/obj/Release/net9.0
